################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Javascript/FileContentIndex/read.lock
/.vs/Javascript/FileContentIndex/742e3e24-90b3-43fe-9a74-961a02615236.vsidx
/.vs/Javascript/FileContentIndex/fff306a5-3a1d-4252-864a-435df390222f.vsidx
/.vs/Javascript/FileContentIndex/34169e7c-8a17-4c7a-8fdb-6537741cb14e.vsidx
/.vs/Javascript/FileContentIndex/96dc71d7-c4a9-4ba5-9fa3-c46bf9ae27da.vsidx
/.vs/Javascript/FileContentIndex/47946c81-e067-46f7-a325-cbc80ecac292.vsidx
